In [1]:
#print Statemen
print("Mars Tech ")

Mars Tech

In [7]:
#Buy input 
Data = input("Enter your institute name?  :")

Enter your institute name?  : Mars Tech

In [15]:
Name = input("Enter your name:")
age = input("Enter your age:")
schoolName = input("Enter your school name:")
degree = input("Enter your drgree:")

Enter your name: RAJ
Enter your age: 15
Enter your school name: guru school
Enter your drgree: B.E CSE

In [17]:
#Addition
a = 43
b = 34
add = a + b
print("a=",a)
print("b=",b)
print("add=",add)

a= 43
b= 34
add= 77

In [19]:
#Subtraction
a = 43
b = 34
sub = a - b
print("a=",a)
print("b=",b)
print("sub=",sub)

a= 43
b= 34
sub= 9

In [23]:
#Multiplication 
a = 63
b = 97
mul = a * b
print("a=",a)
print("b=",b)
print("mul=",mul)

a= 63
b= 97
mul= 6111

In [31]:
#Division 
a = 76
b = 31
div = a / b
print("a=",a)
print("b=",b)
print("Float Div =",div)

a= 76
b= 31
Float Div = 2.4516129032258065

In [33]:
#Floor Division 
a = 76
b = 31
fDiv = a // b
print("a=",a)
print("b=",b)
print("Floor Div =",fDiv)

a= 76
b= 31
Floor Div = 2

In [35]:
#Modulo 
a = 76
b = 31
mod = a % b
print("a=",a)
print("b=",b)
print("Modulo =",mod)

a= 76
b= 31
Modulo = 14

In [39]:
#Power 
a = 4
b = 4
p = a ** b
print("a=",a)
print("b=",b)
print("Power =",p)

a= 4
b= 4
Power = 256