In [3]:
 #print 0 to 20 by using range 
for num in range(21):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [37]:
# print range 10 to 20 
for num in range(10, 20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [21]:
# print number of items in the list by using ‘len’ 
List2 = [10, 20, 14, 55, 43, 87, 76] 
print(List2)
print("Number of items in the List2:", len(List2))

[10, 20, 14, 55, 43, 87, 76]
Number of items in the List2: 7

In [33]:
data = "Artificial Intelligence"
print(data)
for AI in data:
    print(AI)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [39]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [3]:
# Print yhis mixered datatype using Tuples 
tuple0 = (1, 'Welcome' ,  2, 'mars tech')
print(tuple0)

(1, 'Welcome', 2, 'mars tech')

In [17]:
Tuple1 = (0,1,2,3)
Tuple2 = ('python', 'mars tech') 
Tuple3 = (Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'mars tech'))

In [7]:
# print Odd Numbers in the list 
list=(20,10,16,19,25,1,276,188)
for i in list:
    if i%2 != 0:
        print(i,"is odd")

19 is odd
25 is odd
1 is odd

In [1]:
# print Even numbers in the list 
list=(20,10,16,19,25,1,276,188)
for i in list:
    if i%2 == 0:
        print(i,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even